html,
body{
  height: 100%;
  font-family: 'Objective', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  overflow-x: hidden;
}


body{
  overflow-x: hidden;
}


.container{
  padding: 0 20px;

  @include for-tablet-portrait-up {
    padding: 0 15%;
  }
}