@font-face {
  font-family: 'Objective-Regular';
  src: url('../fonts/Objective-Regular.eot');
  src: url('../fonts/Objective-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Objective-Regular.svg#Objective-Regular') format('svg'),
       url('../fonts/Objective-Regular.ttf') format('truetype'),
       url('../fonts/Objective-Regular.woff') format('woff'),
       url('../fonts/Objective-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Objective-Medium';
  src: url('../fonts/Objective-Medium.eot');
  src: url('../fonts/Objective-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Objective-Medium.svg#Objective-Medium') format('svg'),
       url('../fonts/Objective-Medium.ttf') format('truetype'),
       url('../fonts/Objective-Medium.woff') format('woff'),
       url('../fonts/Objective-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Objective-Bold';
  src: url('../fonts/Objective-Bold.eot');
  src: url('../fonts/Objective-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Objective-Bold.svg#Objective-Bold') format('svg'),
       url('../fonts/Objective-Bold.ttf') format('truetype'),
       url('../fonts/Objective-Bold.woff') format('woff'),
       url('../fonts/Objective-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}


